{
  "openapi": "3.1.0",
  "info": {
    "title": "Chatwoot Kanban API",
    "description": "API para gerenciamento de Funnels e Kanban Items no Chatwoot.\n\n## Recursos Principais\n\n* **Funnels**: Gerenciamento de funis de vendas\n* **Kanban Items**: Itens do quadro Kanban\n* **Estágios**: Controle de estágios do funil\n* **Estatísticas**: Métricas e relatórios\n* **Agentes**: Atribuição e gerenciamento de agentes\n* **Checklist**: Gerenciamento de tarefas\n* **Notas**: Sistema de anotações\n\n## Autenticação\n\nEsta API utiliza autenticação via token. Inclua o header:\n```\napi_access_token: <seu-token>\n```\n",
    "version": "1.0.0",
    "contact": {
      "name": "Equipe Chatwoot",
      "url": "https://github.com/chatwoot/chatwoot"
    }
  },
  "servers": [
    {
      "url": "https://api.chatwoot.com/api/v1",
      "description": "API v1"
    }
  ],
  "security": [
    {
      "apiAccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Funnels",
      "description": "Operações relacionadas aos funis de vendas"
    },
    {
      "name": "Kanban Items",
      "description": "Operações relacionadas aos itens do Kanban"
    },
    {
      "name": "Agents",
      "description": "Operações relacionadas aos agentes"
    },
    {
      "name": "Checklist",
      "description": "Operações relacionadas ao checklist"
    },
    {
      "name": "Notes",
      "description": "Operações relacionadas às notas"
    },
    {
      "name": "Scheduled Messages",
      "description": "Operações relacionadas às mensagens agendadas"
    },
    {
      "name": "Debug",
      "description": "Operações de debug e diagnóstico"
    }
  ],
  "paths": {
    "/accounts/{account_id}/funnels": {
      "get": {
        "tags": [
          "Funnels"
        ],
        "summary": "Listar funnels",
        "description": "Retorna todos os funis de vendas da conta ordenados por nome",
        "operationId": "listFunnels",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de funnels retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Funnel"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Funnel de Vendas",
                    "description": "Funnel principal de vendas",
                    "active": true,
                    "account_id": 1,
                    "created_at": "2024-01-15T10:00:00Z",
                    "updated_at": "2024-01-15T10:00:00Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Funnels"
        ],
        "summary": "Criar funnel",
        "description": "Cria um novo funil de vendas com validação de IDs únicos de etapas",
        "operationId": "createFunnel",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados do funil a ser criado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunnelCreate"
              },
              "example": {
                "funnel": {
                  "name": "Novo Funnel",
                  "description": "Descrição do funil",
                  "active": true,
                  "stages": {
                    "lead": {
                      "name": "Lead",
                      "color": "#3b82f6",
                      "id": "lead_1"
                    },
                    "prospect": {
                      "name": "Prospecto",
                      "color": "#f59e0b",
                      "id": "prospect_1"
                    },
                    "customer": {
                      "name": "Cliente",
                      "color": "#10b981",
                      "id": "customer_1"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Funnel criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funnel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Limite de funnels atingido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunnelLimitError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/funnels/{id}": {
      "get": {
        "tags": [
          "Funnels"
        ],
        "summary": "Obter funnel",
        "description": "Retorna detalhes de um funil específico",
        "operationId": "getFunnel",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do funil",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Funnel encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funnel"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Funnels"
        ],
        "summary": "Atualizar funnel",
        "description": "Atualiza um funil de vendas existente",
        "operationId": "updateFunnel",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do funil",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados do funil a ser atualizado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunnelUpdate"
              },
              "example": {
                "funnel": {
                  "name": "Funnel Atualizado",
                  "description": "Nova descrição",
                  "active": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funnel atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funnel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Funnels"
        ],
        "summary": "Excluir funnel",
        "description": "Exclui um funil de vendas",
        "operationId": "deleteFunnel",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do funil",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Funnel excluído com sucesso"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/funnels/{id}/stage_stats": {
      "get": {
        "tags": [
          "Funnels"
        ],
        "summary": "Estatísticas por etapa",
        "description": "Retorna estatísticas dos itens por etapa do funil (name, color, description, count, total_value).\nAceita filtros opcionais: prioridades, agente, valor, datas e exibição de won/lost.\n",
        "operationId": "getFunnelStageStats",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do funil",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "priorities",
            "in": "query",
            "description": "Filtrar por prioridades (array)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "high",
              "medium"
            ]
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "ID do agente; use -1 para itens não atribuídos",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "value_min",
            "in": "query",
            "description": "Valor mínimo do item",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "value_max",
            "in": "query",
            "description": "Valor máximo do item",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Filtrar itens criados a partir desta data",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Filtrar itens criados até esta data",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "show_won",
            "in": "query",
            "description": "Incluir itens com status won (default true)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "true"
            }
          },
          {
            "name": "show_lost",
            "in": "query",
            "description": "Incluir itens com status lost (default true)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estatísticas das etapas (stages com name, color, description, count, total_value; total_items)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageStats"
                },
                "example": {
                  "stages": {
                    "lead": {
                      "name": "Lead",
                      "color": "#3b82f6",
                      "description": null,
                      "count": 5,
                      "total_value": 5000
                    },
                    "prospect": {
                      "name": "Prospecto",
                      "color": "#f59e0b",
                      "description": null,
                      "count": 3,
                      "total_value": 3000
                    },
                    "customer": {
                      "name": "Cliente",
                      "color": "#10b981",
                      "description": null,
                      "count": 2,
                      "total_value": 2000
                    }
                  },
                  "total_items": 10
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Listar kanban items",
        "description": "Retorna todos os itens do Kanban com paginação e filtros",
        "operationId": "listKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_id",
            "in": "query",
            "required": true,
            "description": "ID do funil",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "stage_id",
            "in": "query",
            "description": "ID da etapa para filtrar",
            "schema": {
              "type": "string"
            },
            "example": "lead"
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "ID do agente para filtrar",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página (padrão: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de kanban items com paginação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItemsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": 1,
                      "funnel_id": 1,
                      "funnel_stage": "lead",
                      "position": 1,
                      "item_details": {
                        "title": "Novo Lead",
                        "description": "Descrição do lead",
                        "priority": "high",
                        "value": 1000
                      }
                    }
                  ],
                  "pagination": {
                    "current_page": 1,
                    "total_count": 50,
                    "has_more": true,
                    "items_per_page": 50
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Criar kanban item",
        "description": "Cria um novo item no Kanban",
        "operationId": "createKanbanItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados do item a ser criado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KanbanItemCreate"
              },
              "example": {
                "kanban_item": {
                  "funnel_id": 1,
                  "funnel_stage": "lead",
                  "position": 1,
                  "conversation_display_id": 123,
                  "item_details": {
                    "title": "Novo Lead",
                    "description": "Descrição do lead",
                    "priority": "high",
                    "value": 1000,
                    "conversation_id": 123
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Kanban item criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/reorder": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Reordenar kanban items",
        "description": "Reordena os itens do Kanban em suas respectivas etapas",
        "operationId": "reorderKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados de reordenação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderRequest"
              },
              "example": {
                "positions": [
                  {
                    "id": 1,
                    "position": 1,
                    "funnel_stage": "lead"
                  },
                  {
                    "id": 2,
                    "position": 2,
                    "funnel_stage": "lead"
                  },
                  {
                    "id": 3,
                    "position": 1,
                    "funnel_stage": "prospect"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items reordenados com sucesso"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/debug": {
      "get": {
        "tags": [
          "Debug"
        ],
        "summary": "Debug kanban items",
        "description": "Retorna informações de debug sobre os itens do Kanban",
        "operationId": "debugKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_id",
            "in": "query",
            "required": true,
            "description": "ID do funil",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Informações de debug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebugInfo"
                },
                "example": {
                  "environment": "development",
                  "ruby_version": "3.2.0",
                  "rails_version": "7.1.0",
                  "kanban_items_count": 10,
                  "has_conversation_data": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Obter kanban item",
        "description": "Retorna detalhes de um item específico com cache",
        "operationId": "getKanbanItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Kanban item encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Atualizar kanban item",
        "description": "Atualiza um item do Kanban",
        "operationId": "updateKanbanItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados do item a ser atualizado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KanbanItemUpdate"
              },
              "example": {
                "kanban_item": {
                  "funnel_stage": "prospect",
                  "position": 2,
                  "item_details": {
                    "title": "Lead Atualizado",
                    "priority": "medium"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kanban item atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Excluir kanban item",
        "description": "Exclui um item do Kanban",
        "operationId": "deleteKanbanItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Kanban item excluído com sucesso"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/move_to_stage": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Mover item para etapa",
        "description": "Move um item do Kanban para uma etapa específica",
        "operationId": "moveKanbanItemToStage",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_stage",
            "in": "query",
            "required": true,
            "description": "Nova etapa do item",
            "schema": {
              "type": "string"
            },
            "example": "prospect"
          },
          {
            "name": "funnel_id",
            "in": "query",
            "description": "ID do funil",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Item movido para etapa com sucesso"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/move": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Mover item",
        "description": "Move um item do Kanban para outro funil/etapa",
        "operationId": "moveKanbanItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_id",
            "in": "query",
            "required": true,
            "description": "ID do funil de destino",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_stage",
            "in": "query",
            "required": true,
            "description": "Etapa de destino",
            "schema": {
              "type": "string"
            },
            "example": "prospect"
          }
        ],
        "responses": {
          "200": {
            "description": "Item movido com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/create_checklist_item": {
      "post": {
        "tags": [
          "Checklist"
        ],
        "summary": "Criar item do checklist",
        "description": "Adiciona um novo item ao checklist do kanban item",
        "operationId": "createChecklistItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados do item do checklist",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Texto do item do checklist",
                    "example": "Fazer follow-up com o cliente"
                  }
                },
                "required": [
                  "text"
                ]
              },
              "example": {
                "text": "Fazer follow-up com o cliente"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item do checklist criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/create_note": {
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Criar nota",
        "description": "Adiciona uma nova nota ao kanban item",
        "operationId": "createNote",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados da nota",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Texto da nota",
                    "example": "Cliente interessado no produto premium"
                  }
                },
                "required": [
                  "text"
                ]
              },
              "example": {
                "text": "Cliente interessado no produto premium"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nota criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/assign_agent": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Atribuir agente",
        "description": "Atribui um agente ao kanban item",
        "operationId": "assignAgent",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados da atribuição",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "integer",
                    "description": "ID do agente",
                    "example": 1
                  }
                },
                "required": [
                  "agent_id"
                ]
              },
              "example": {
                "agent_id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agente atribuído",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/remove_agent": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Remover agente",
        "description": "Remove um agente do kanban item",
        "operationId": "removeAgent",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados da remoção",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "integer",
                    "description": "ID do agente",
                    "example": 1
                  }
                },
                "required": [
                  "agent_id"
                ]
              },
              "example": {
                "agent_id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agente removido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/assigned_agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Listar agentes atribuídos",
        "description": "Retorna os agentes atribuídos ao kanban item",
        "operationId": "getAssignedAgents",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Agentes atribuídos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignedAgentsResponse"
                },
                "example": {
                  "assigned_agents": [
                    {
                      "id": 1,
                      "name": "João Silva",
                      "email": "joao@example.com",
                      "avatar_url": "https://example.com/avatar.jpg",
                      "availability_status": "online"
                    }
                  ],
                  "primary_agent": {
                    "id": 1,
                    "name": "João Silva",
                    "email": "joao@example.com",
                    "avatar_url": "https://example.com/avatar.jpg",
                    "availability_status": "online"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/change_status": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Mudar status",
        "description": "Muda o status do kanban item (won, lost, open)",
        "operationId": "changeStatus",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Novo status",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Novo status do item",
                    "enum": [
                      "won",
                      "lost",
                      "open"
                    ],
                    "example": "won"
                  }
                },
                "required": [
                  "status"
                ]
              },
              "example": {
                "status": "won"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status alterado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/assign_agent_to_checklist_item": {
      "post": {
        "tags": [
          "Checklist"
        ],
        "summary": "Atribuir agente ao item do checklist",
        "description": "Atribui um agente a um item específico do checklist",
        "operationId": "assignAgentToChecklistItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados da atribuição",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checklist_item_id": {
                    "type": "string",
                    "description": "ID do item do checklist",
                    "example": "uuid-123"
                  },
                  "agent_id": {
                    "type": "integer",
                    "description": "ID do agente",
                    "example": 1
                  }
                },
                "required": [
                  "checklist_item_id",
                  "agent_id"
                ]
              },
              "example": {
                "checklist_item_id": "uuid-123",
                "agent_id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agente atribuído ao item do checklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/remove_agent_from_checklist_item": {
      "post": {
        "tags": [
          "Checklist"
        ],
        "summary": "Remover agente do item do checklist",
        "description": "Remove um agente de um item específico do checklist",
        "operationId": "removeAgentFromChecklistItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados da remoção",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checklist_item_id": {
                    "type": "string",
                    "description": "ID do item do checklist",
                    "example": "uuid-123"
                  }
                },
                "required": [
                  "checklist_item_id"
                ]
              },
              "example": {
                "checklist_item_id": "uuid-123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agente removido do item do checklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/reports": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Relatórios de kanban items",
        "description": "Retorna métricas e relatórios dos itens (from, to, funnel_id, user_ids)",
        "operationId": "reportsKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Timestamp início (segundos ou milissegundos)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Timestamp fim (segundos ou milissegundos)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_ids",
            "in": "query",
            "description": "IDs dos agentes para filtrar",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Métricas de relatório",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/search": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Buscar kanban items",
        "description": "Busca itens por texto (title, description, customer_name, customer_email)",
        "operationId": "searchKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cliente"
          },
          {
            "name": "funnel_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de itens encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KanbanItem"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "query": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/filter": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Filtrar kanban items",
        "description": "Filtra itens por prioridades, valor, agente, datas (priorities, value_min, value_max, agent_id, date_start, date_end, scheduled_date_start, scheduled_date_end)",
        "operationId": "filterKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "priorities",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "value_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "value_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduled_date_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduled_date_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de itens filtrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KanbanItem"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "filters": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/export": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Exportar kanban items (CSV)",
        "description": "Exporta itens do funil em CSV (funnel_id obrigatório; filtros opcionais)",
        "operationId": "exportKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "funnel_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "priorities",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "value_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "value_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduled_date_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduled_date_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo CSV",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/import": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Importar kanban items (CSV)",
        "description": "Importa itens a partir de CSV (funnel_id, file, mappings, default_stage_id)",
        "operationId": "importKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "funnel_id": {
                    "type": "integer"
                  },
                  "default_stage_id": {
                    "type": "string"
                  },
                  "mappings": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado da importação (created_count, error_count, errors)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "created_count": {
                      "type": "integer"
                    },
                    "error_count": {
                      "type": "integer"
                    },
                    "total_rows": {
                      "type": "integer"
                    },
                    "errors": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/bulk_move_items": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Mover múltiplos itens de etapa",
        "description": "Move vários itens para uma nova etapa (item_ids, new_stage, funnel_id opcional)",
        "operationId": "bulkMoveKanbanItems",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2,
                      3
                    ]
                  },
                  "new_stage": {
                    "type": "string",
                    "example": "prospect"
                  },
                  "funnel_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "item_ids",
                  "new_stage"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "moved_count, total_requested, errors, new_stage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "moved_count": {
                      "type": "integer"
                    },
                    "total_requested": {
                      "type": "integer"
                    },
                    "errors": {
                      "type": "array"
                    },
                    "new_stage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/bulk_assign_agent": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Atribuir agente em massa",
        "description": "Atribui um agente a múltiplos itens (item_ids, agent_id, mode: replace ou add)",
        "operationId": "bulkAssignAgent",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "agent_id": {
                    "type": "integer"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "replace",
                      "add"
                    ],
                    "default": "replace"
                  }
                },
                "required": [
                  "item_ids",
                  "agent_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "assigned_count, total_requested, errors, agent_id, agent_name, mode",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/bulk_set_priority": {
      "post": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Definir prioridade em massa",
        "description": "Aplica prioridade a múltiplos itens (item_ids, priority: high, medium, low, urgent, none)",
        "operationId": "bulkSetPriority",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "high",
                      "medium",
                      "low",
                      "urgent",
                      "none"
                    ]
                  }
                },
                "required": [
                  "item_ids",
                  "priority"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated_count, total_requested, errors, priority",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/get_notes": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Listar notas do item",
        "description": "Retorna as notas do kanban item",
        "operationId": "getNotes",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "item_id, notes, notes_count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item_id": {
                      "type": "integer"
                    },
                    "notes": {
                      "type": "array"
                    },
                    "notes_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/update_note": {
      "patch": {
        "tags": [
          "Notes"
        ],
        "summary": "Atualizar nota",
        "description": "Atualiza uma nota do item (note_id no body; text, attachments, linked_item_id, linked_conversation_id, linked_contact_id)",
        "operationId": "updateNote",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note_id": {
                    "type": "string",
                    "description": "ID da nota"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array"
                  },
                  "linked_item_id": {
                    "type": "integer"
                  },
                  "linked_conversation_id": {
                    "type": "integer"
                  },
                  "linked_contact_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "note_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kanban item atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/delete_note": {
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Excluir nota",
        "description": "Remove uma nota do item (note_id no body ou query)",
        "operationId": "deleteNote",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "note_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kanban item atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/get_checklist": {
      "get": {
        "tags": [
          "Checklist"
        ],
        "summary": "Listar checklist do item",
        "description": "Retorna o checklist do kanban item",
        "operationId": "getChecklist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "item_id, checklist, checklist_count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item_id": {
                      "type": "integer"
                    },
                    "checklist": {
                      "type": "array"
                    },
                    "checklist_count": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/delete_checklist_item": {
      "delete": {
        "tags": [
          "Checklist"
        ],
        "summary": "Excluir item do checklist",
        "description": "Remove um item do checklist (checklist_item_id)",
        "operationId": "deleteChecklistItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "checklist_item_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kanban item atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/update_checklist_item": {
      "patch": {
        "tags": [
          "Checklist"
        ],
        "summary": "Atualizar item do checklist",
        "description": "Atualiza um item do checklist (checklist_item_id; text, due_date, priority, agent_id, linked_*)",
        "operationId": "updateChecklistItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checklist_item_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "due_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "priority": {
                    "type": "string"
                  },
                  "agent_id": {
                    "type": "integer"
                  },
                  "linked_item_id": {
                    "type": "integer"
                  },
                  "linked_conversation_id": {
                    "type": "integer"
                  },
                  "linked_contact_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "checklist_item_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kanban item atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/toggle_checklist_item": {
      "post": {
        "tags": [
          "Checklist"
        ],
        "summary": "Marcar/desmarcar item do checklist",
        "description": "Alterna o status completed de um item do checklist (checklist_item_id)",
        "operationId": "toggleChecklistItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checklist_item_id": {
                    "type": "string",
                    "description": "ID do item do checklist"
                  }
                },
                "required": [
                  "checklist_item_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kanban item atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KanbanItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/time_report": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Relatório de tempo do item",
        "description": "Retorna tempo total gasto no item (timer_duration + sessão atual se timer rodando)",
        "operationId": "timeReport",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "item_id, total_duration_seconds, total_duration_formatted, timer_started_at, is_timer_running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/stage_time_breakdown": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Tempo por etapa",
        "description": "Retorna o tempo gasto em cada etapa do funil para o item",
        "operationId": "stageTimeBreakdown",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "item_id, stage_breakdown, total_stages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/duplicate_checklist": {
      "post": {
        "tags": [
          "Checklist"
        ],
        "summary": "Duplicar checklist para outro item",
        "description": "Copia o checklist deste item para outro (target_item_id; merge=true para mesclar)",
        "operationId": "duplicateChecklist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item origem",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_item_id": {
                    "type": "integer"
                  },
                  "merge": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "Se true, mescla com checklist existente do destino"
                  }
                },
                "required": [
                  "target_item_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "source_item_id, target_item_id, duplicated_items_count, total_items_count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/search_checklist": {
      "get": {
        "tags": [
          "Checklist"
        ],
        "summary": "Buscar no checklist",
        "description": "Busca itens do checklist por texto (query)",
        "operationId": "searchChecklist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "item_id, query, total_items, filtered_items, checklist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/counts": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Contagens do item",
        "description": "Retorna contagem de notas, checklist e anexos",
        "operationId": "countsKanbanItem",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "item_id, notes_count, checklist_count, attachments_count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/kanban_items/{id}/checklist_progress_by_agent": {
      "get": {
        "tags": [
          "Kanban Items"
        ],
        "summary": "Progresso do checklist por agente",
        "description": "Retorna progresso do checklist agrupado por agente atribuído",
        "operationId": "checklistProgressByAgent",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do item",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "item_id, checklist_total_items, progress_by_agent, summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/conversations/{conversation_id}/scheduled_messages": {
      "get": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Listar mensagens agendadas",
        "description": "Retorna todas as mensagens agendadas de uma conversa específica",
        "operationId": "listScheduledMessages",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "ID da conversa",
            "schema": {
              "type": "integer"
            },
            "example": 1897
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de mensagens agendadas retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledMessagesResponse"
                },
                "example": {
                  "payload": [
                    {
                      "id": 3,
                      "message": "TEste",
                      "scheduled_at": 1756302600,
                      "title": "Teste",
                      "inbox_id": 7,
                      "conversation_id": 1918,
                      "created_at": 1756302539,
                      "status": "pending",
                      "is_recurrent": false,
                      "period": ""
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Criar mensagem agendada",
        "description": "Cria uma nova mensagem agendada para uma conversa específica",
        "operationId": "createScheduledMessage",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "ID da conversa",
            "schema": {
              "type": "integer"
            },
            "example": 1897
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados da mensagem agendada a ser criada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledMessageCreate"
              },
              "example": {
                "scheduled_message": {
                  "conversation_id": 1897,
                  "inbox_id": 7,
                  "content": "Lembrete: reunião às 14h",
                  "scheduled_at": "2025-08-27T13:50:00.000Z",
                  "title": "Reunião",
                  "status": "pending",
                  "is_recurrent": false,
                  "period": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem agendada criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledMessageCreatedResponse"
                },
                "example": {
                  "id": 3,
                  "message": "Lembrete: reunião às 14h",
                  "scheduled_at": 1756302600,
                  "title": "Reunião",
                  "inbox_id": 7,
                  "conversation_id": 1897,
                  "created_at": 1756302539,
                  "status": "pending",
                  "is_recurrent": false,
                  "period": ""
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{account_id}/conversations/{conversation_id}/scheduled_messages/{id}": {
      "patch": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Atualizar mensagem agendada",
        "description": "Atualiza uma mensagem agendada específica",
        "operationId": "updateScheduledMessage",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "ID da conversa",
            "schema": {
              "type": "integer"
            },
            "example": 1897
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID da mensagem agendada",
            "schema": {
              "type": "integer"
            },
            "example": 3
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dados da mensagem agendada a ser atualizada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledMessageUpdate"
              },
              "example": {
                "scheduled_message": {
                  "content": "Novo conteúdo da mensagem",
                  "scheduled_at": "2025-08-28T14:00:00.000Z",
                  "title": "Título Atualizado",
                  "status": "pending",
                  "is_recurrent": false,
                  "period": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem agendada atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledMessageCreatedResponse"
                },
                "example": {
                  "id": 3,
                  "message": "Novo conteúdo da mensagem",
                  "scheduled_at": 1756388400,
                  "title": "Título Atualizado",
                  "inbox_id": 7,
                  "conversation_id": 1897,
                  "created_at": 1756302539,
                  "status": "pending",
                  "is_recurrent": false,
                  "period": ""
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Excluir mensagem agendada",
        "description": "Exclui uma mensagem agendada específica",
        "operationId": "deleteScheduledMessage",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "ID da conta",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "ID da conversa",
            "schema": {
              "type": "integer"
            },
            "example": 1897
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID da mensagem agendada",
            "schema": {
              "type": "integer"
            },
            "example": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Mensagem agendada excluída com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Mensagem de confirmação",
                      "example": "Mensagem agendada excluída com sucesso"
                    },
                    "deleted_id": {
                      "type": "integer",
                      "description": "ID da mensagem excluída",
                      "example": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiAccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "api_access_token",
        "description": "Token de acesso da API"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisição inválida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Não autorizado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Acesso negado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso não encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Entidade não processável",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Funnel": {
        "type": "object",
        "description": "Representa um funil de vendas",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID único do funil",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Nome do funil",
            "example": "Funnel de Vendas"
          },
          "description": {
            "type": "string",
            "description": "Descrição do funil",
            "example": "Funnel principal de vendas"
          },
          "active": {
            "type": "boolean",
            "description": "Se o funil está ativo",
            "example": true
          },
          "stages": {
            "type": "object",
            "description": "Estágios do funil",
            "additionalProperties": {
              "type": "object"
            },
            "example": {
              "lead": {
                "name": "Lead",
                "color": "#3b82f6",
                "id": "lead_1"
              },
              "prospect": {
                "name": "Prospecto",
                "color": "#f59e0b",
                "id": "prospect_1"
              },
              "customer": {
                "name": "Cliente",
                "color": "#10b981",
                "id": "customer_1"
              }
            }
          },
          "settings": {
            "type": "object",
            "description": "Configurações do funil",
            "additionalProperties": true
          },
          "global_custom_attributes": {
            "type": "array",
            "description": "Atributos customizados globais",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "account_id": {
            "type": "integer",
            "description": "ID da conta",
            "example": 1
[...]
